@use "variables" as *;

.hero {
  position: relative;
  padding: $hero-padding-y 0;
  background: linear-gradient(
      rgba(0, 0, 0, 0.7),
      rgba(0, 0, 0, 0.7)
    ),
    url("/company-bg.jpg") center/cover no-repeat;
  color: $color-white;

  .subtitle {
    color: $color-accent;
    font-size: $font-hero-subtitle;
    font-weight: bold;
  }

  .title {
    font-size: $font-hero-title;
    font-weight: 700;
    margin-bottom: $space-md + $space-sm; 
  }

  .desc {
    font-size: $font-hero-text;
    margin-bottom: $space-xl;
    line-height: 1.7;
  }

  .btn {
    background: $color-accent;
    padding: $space-sm $space-lg; // 12px 24px
    color: $color-white;
    border-radius: $radius-sm;
    text-decoration: none;
    transition: 0.3s;

    &:hover {
      background: $color-accent-dark;
    }
  }

  .slider {
    .swiper-button-prev,
    .swiper-button-next {
      color: $color-white;
      font-size: $font-icon-md; // 24px
    }

    img {
      border-radius: $radius-xl;
      width: 100%;
      height: auto;
      box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.4);
    }
  }
}
