@use "variables" as *;

.navbar {
  background-color: $dark;

  .navbar-brand img {
    max-height: 40px; 
  }

  .nav-link {
    color: $bg !important;
    font-weight: 500;
    margin-right: $space-sm + 0.3rem; 

    &:hover {
      color: $secondary !important;
    }
  }

  .dropdown-menu {
    border-radius: 0;
    background: $bg;

    .dropdown-item {
      color: $text;

      &:hover {
        background: $secondary;
        color: $bg;
      }
    }
  }

  .dropdown-toggle::after {
    display: none !important; 
  }
}

/* Responsive tweaks */
@media (max-width: 992px) {
  .navbar {
    .nav-link {
      margin: $space-sm 0; // 8px
    }

    .dropdown-menu {
      background: $dark;

      .dropdown-item {
        color: $bg;

        &:hover {
          background: $secondary;
          color: $bg;
        }
      }
    }
  }
}

.navbar-toggler {
  background-color: $color-white !important;
}

.logo {
  width: 60px;
  height: 60px;
  border-radius: $radius-lg; // 10px
}
