@use "variables" as *;

.partners {
  padding: $space-xl 0;
  background: #f9f9f9;

  h2 {
    font-size: $font-xxl;
    margin-bottom: $space-xl;
  }

  .grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    gap: $space-lg + $space-sm; // 1.5rem
    align-items: center;
    justify-items: center;
  }

  .card {
    background: $color-white;
    border-radius: $radius-lg + 2px; // 12px
    padding: $space-md;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
    transition: transform 0.3s ease;
    text-align: center;
    height: 230px;

    &:hover {
      transform: translateY(-5px);
    }

    img {
      object-fit: contain;
      max-width: 120px;
      height: 120px;
      margin-bottom: 0.8rem;
    }

    p {
      font-size: $font-sm; // 0.9rem
      font-weight: 500;
      color: $color-text-dark;
    }
  }
}
