.partners {
  padding: 3rem 0;
  background: #f9f9f9;

  h2 {
    font-size: 2rem;
    margin-bottom: 2rem;
  }

  .grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    gap: 1.5rem;
    align-items: center;
    justify-items: center;
  }

  .card {
    background: #ffffff;
    border-radius: 12px;
    padding: 1rem;
    box-shadow: 0 4px 12px rgba(0,0,0,0.08);
    transition: transform 0.3s ease;
    text-align: center;
    height: 230px;

    &:hover {
      transform: translateY(-5px);
    }

    img {
    object-fit: contain;
    max-width: 120px;
    height: 120px;
    margin-bottom: .8rem;
    }

    p {
      font-size: 0.9rem;
      font-weight: 500;
      color: #333;
    }
  }
}
