@use "variables" as *;

.projects {
  padding: 60px 0; 
  background: #f8f9fa; 

  h2 {
    font-size: $font-xxl;
    margin-bottom: $space-sm; // 10px
  }

  .subtitle {
    color: $color-text-muted; // #666
    margin-bottom: $space-xl + $space-md; // 40px
  }

  .grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 25px; // ممكن نضيف $gap-md = 25px
  }

  .card {
    background: $color-white;
    border-radius: $radius-lg + 2px; // 12px
    padding: $space-lg; // 20px
    text-align: center;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;

    &:hover {
      transform: translateY(-5px);
    }

    img {
      max-width: 100px;
      height: 100px;
      margin-bottom: $space-md + $space-sm; // 15px
    }

    h3 {
      font-size: $font-lg;
      margin-bottom: $space-sm; // 10px
    }

    p {
      font-size: $font-sm;
      color: $color-text-dark; // #444
      margin-bottom: $space-md + $space-sm; // 15px
    }

    .more {
      display: inline-block;
      background: #d32f2f;
      color: $color-white;
      padding: 8px 16px;
      border-radius: $radius-md;
      text-decoration: none;
      transition: background 0.3s;

      &:hover {
        background: #b71c1c; 
      }
    }
  }
}
