@import "../styles/_variables.scss";
@import "swiper/css";
@import "swiper/css/navigation";
@import "swiper/css/pagination";
// @import "../../styles/jobsModal.scss";
body {
  font-family: "Segoe UI", Roboto, Arial, sans-serif;
  background: $bg;
  color: $text;
}
  .dropdown-toggle::after {
    content: none !important;
  }
  .navbar-expand-lg .navbar-nav {
    align-items: center;
}
.navbar-custom {
  background: $dark;
  .nav-link {
    color: $bg !important;
    &:hover {
      color: $secondary !important;
    }
  }
  .dropdown-menu {
    border-radius: 0;
    background: $bg;
    .dropdown-item {
      color: $text;
      &:hover {
        background: $secondary;
        color: $bg;
      }
    }
  }
}

@media(min-width: 1200px){
    .container {
    max-width: 1367px;
}
}
.footer {
  background: $dark;
  color: $bg;
  padding: 20px 0;
  text-align: center;
}
.navbar-toggler {
        background-color: rgb(255 255 255) !important;
}
.swiper {
margin-bottom: 1rem;
.swiper-slide{
  text-align: center;
    justify-items: center;

  .mainImg{
        width: 400px;
    height: auto;
  }
}
}

.job-modal{

  .form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  
    input,
    select {
      padding: 0.7rem;
      border: 1px solid #ddd;
      border-radius: 6px;
      width: 100%;
      font-size: 0.95rem;
    }
  
    input[type="file"] {
      grid-column: span 2;
    }
  
    button {
      grid-column: span 2;
      background: #ef1923;
      color: #fff;
      padding: 0.8rem;
      border: none;
      border-radius: 6px;
      font-weight: 600;
      cursor: pointer;
      transition: 0.3s;
  
      &:hover {
        background: #c2131a;
      }
    }
  
    @media (max-width: 768px) {
      grid-template-columns: 1fr; // عمود واحد في الموبايل
      button,
      input[type="file"] {
        grid-column: span 1;
      }
    }
  }
}

html[dir="rtl"] {
  .navbar .ms-auto {
    margin-left: 0 !important;
    margin-right: auto !important;
  }
}
